Flask>=3.0
gunicorn>=21.2
pypdf>=4.0
reportlab>=4.0
Flask-Limiter>=3.0
SQLAlchemy>=2.0
PyMySQL>=1.0
Werkzeug>=3.0
python-dotenv>=1.0
requests>=2.0
astral>=2.2
skyfield>=1.45
timezonefinder>=6.0
pytz>=2023.3
google-cloud-secret-manager>=2.16.0
zoneinfo-backport>=0.2.1; python_version<"3.9"